pymysql==1.0.3
mariadb==1.1.9
fastapi==0.95.0
uvicorn==0.21.1
mysql-connector-python==8.2.0
redis==5.0.0
fastapi_sqlalchemy==0.2.1
websockets==12.0
# attrs自动生成相应的方法，比如__init__、__repr__等
attrs==23.1.0
# distlib: 用于处理 Python 包的分发和安装
distlib==0.3.7
python-dotenv==1.0.0